sidebar {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
/*
    position: static;
    height: 100%;
*/
}
.individuals {
/*    height: 40vh;*/
    color: #001f2f;
    padding: 3% 0;
}
.legal_entitles {
    height: 70vh;
    background: #003754;
    color: #ffffff;
    padding: 3% 0;
}
.individuals hr {
    border: 2px solid #001f2f;
}
.legal_entitles hr {
    border: 2px solid #ffffff;
}
.individuals h2 {
    font-family: GOTHICB;
    font-size: 300%;
    line-height: 1;
}
h4 {
    font-size: 150%;
    font-family: GOTHICB;
    line-height: 0;
}
.individuals ul, .legal_entitles ul {
    list-style: none;
}
.individuals ul li::before{
    content: '';
    display: inline-block;
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid;
	border-bottom: 5px solid transparent;
    padding-right: 10px;
}
.legal_entitles ul li::before{
    content: '';
    display: inline-block;
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid;
	border-bottom: 5px solid transparent;
    padding-right: 10px;
}
.individuals span, .legal_entitles span {
	display: flex;
    align-items: center;
    font-size: 160%;
}
.individuals span:before {
	content: '';
    display: inline-block;
    height: 75px;
    width: 60px;
    background: url(../images/blue_pdf.png);
    background-repeat: no-repeat;
    background-position: center;
}
 .legal_entitles span:before {
	content: '';
    display: inline-block;
    height: 75px;
    width: 60px;
    background: url(../images/pdf_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
/*
.individuals span img, .legal_entitles span img {
	float: left;
    padding: 2%;
}*/
