* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    overflow-x: hidden;
}
@font-face {
    font-family: GOTHIC;
    src: url(../Fonts/GOTHIC.ttf);
}
@font-face {
    font-family: GOTHICB;
    src: url(../Fonts/GOTHICB.ttf);
}
@font-face {
    font-family: Arial-AMU-Regular;
    src: url(../Fonts/Arial-AMU-Regular.ttf);
}
a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
textarea:focus, input:focus, button:focus {
    outline: none;
}
.no-gutters {
    padding: 0;
}
.sidebar {
    height: 100%;
    position: fixed;
    font-family: "Century Gothic";
    background: #001f2f;
    z-index: 2;
}
.lang_bar {
    height: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #00121b;
    margin: 7% 0 10% 0%;
}
.lang_bar button {
    height: 80%;
    width: 46%;
    border: none;
    font-weight: bold;
}
.lang_bar button:nth-of-type(1) {
    color: #ffffff;
    border-radius: 2px;
    background: #003855;
}
.lang_bar button:nth-of-type(2) {
    color: #2d6480;
    background: none;
    font-family: Arial-AMU-Regular;
    font-weight: bold;
}
.logo {
    width: 40%;
}
navbar {
    margin-left: 17%;
    margin-bottom: 10%;
}
navbar ul {
    list-style: none;
    margin-top: 10%;
}
navbar ul li {
    padding-bottom: 2%;
}
navbar a:not(.active) {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.active {
    text-decoration: none;
    color: #469fcc;
    font-weight: bold;
}
navbar a:hover {
    text-decoration: none;
    color: #469fcc;
    font-weight: bold;
    transition: color 0.25s linear;
}
navbar ul li a:hover::before {
    content: '';
    display: inline-block;
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid #469fcc;
	border-bottom: 5px solid transparent;
    transition: all 0.25s linear;
    padding-right: 10px;
    margin-left: -20px;
}
footer img {
    width: 50%;
}
.row2 {
    margin: 4% 4% 4% 0;
}
.row2 img {
    float: left;
}
.row2 img:nth-of-type(1) {
    width: 35%;
    margin-right: 10%;
}
.row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
.row3 p {
    font-size: 11px;
    font-weight: bold;
    color: #2d6480;
    line-height: 1;
}
.main {
    float: right;
    font-family: GOTHIC;
}
.about_background {
    height: 100vh;
    background: url(../images/main_background.png);
    background-position: top;
}
.about_background span {
    height: 230px;
    width: 512px;
    display: inline-block;
    margin-top: 50vh;
}
.white_header  {
    font-family: GOTHICB;
    font-size: 300%;
    color: rgb(255, 255, 255);
    line-height: 1;
}
.theam_background h4 {
    font-size: 250%;
    color: rgb(255, 255, 255);
    line-height: 0;
}
.about_background h2 {
    text-align: center;
}
.paragraph_img {
    font-size: 100%;
    color: rgb(255, 255, 255);
    text-align: justify;
    line-height: 1;
} 
.mission {
    height: 540px;
}
.blue_header {
    font-family: GOTHICB;
    color: #2d6480;
    font-size: 250%;
    margin-top: 10%;
}
.mission p {
    font-size: 100%;
    text-align: justify;
    line-height: 1;
    font-weight: 500;
}
.theam_background {
    height: 65vh;
    background: url(../images/team_background.png);
    background-position: center;
}
.theam_background span {
    height: 230px;
    width: 512px;
    display: inline-block;
    margin-top: 25vh;
}
.organization_background {
    height: 60vh;
    background: url(../images/oraganization_background.png);
    background-position: center;
}
.organization_background span {
    height: 230px;
    width: 512px;
    display: inline-block;
    margin-top: 15vh;
}
.team_members img {
    width: 40%;
    height: 40%;
}
.team_row {
    margin: 5% 0;
}
.team_row div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.team_row p {
    width: 100%;
    text-align: center;
    color: #2d6480;
    line-height: 0.8;
}
.team_row p:nth-of-type(1) {
    font-size: 140%;
    font-weight: bold;
    margin-top: 5%;
}
.team_row p:nth-of-type(2) {
    font-size: 120%;
}
.structure {
    height: 70vh;
    background-image: url("../images/structure.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.grey_line {
    height: 5px;
    background: #aaaaaa;
    margin-bottom: 10%;
}
.shareholders {
    height: 55%;
    padding: 2% 0 5% 0;
}
.shareholders h2 {
    font-family: GOTHICB;
    color: #3d81a6;
    font-size: 300%;
}
.shareholders p {
    width: 50%;
    font-size: 100%;
    font-weight: 500;
}
.shareholders div:nth-of-type(2n) {
    height: 47px;
    background: #e5e5e5;
}
.shareholders div:nth-of-type(3), .shareholders div:nth-of-type(5) {
    height: 47px;
    background: #f5f5f5;
}
.statutory {
    height: 75%;
    background: #2d6480;
    color: #ffffff;
    padding: 7% 0;
}
.statutory h2 {
    font-family: GOTHICB;
    font-size: 300%;
}
.statutory p {
    width: 40%;
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 5%;
}
.statutory a {
    font-size: 180%;
    color: #ffffff;
}
.statutory ul li {
    height: 100px;
    list-style: none;
    background-image: url(../images/pdf_icon.png);
    background-repeat: no-repeat;
    line-height: 60px;
    padding-left: 80px;
    
}
.white_line {
    height: 5px;
    background: #ffffff;
    margin-top: 5%;
}
.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}